html {
    scrollbar-width: none;
}

summary {
    cursor: pointer;
}

.custom-position-relative {
    position: relative;
}

.custom-fill-badge-image {
    object-fit: cover;
    mask-image: linear-gradient(transparent, black 80%, transparent);
}

.custom-contact-section {
    min-height: 100svh;

    /* For large screens */
    @media (min-width: 700px) {
        min-height: 100vh;
    }
}

.custom-fill-contact-image {
    object-fit: contain;
}

.custom-header-cover {
    min-height: calc(100svh - var(--header-size));

    /* For large screens */
    @media (min-width: 700px) {
        min-height: calc(100vh - var(--header-size));
    }
}

.custom-project-card {
    overflow: hidden;

    img {
        border-radius: var(--border-radius);
    }
}

.custom-badges-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));

    /* For large screens */
    @media (min-width: 700px) {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
}