html {
    scrollbar-width: none;
}

.wrapper {
    .progress-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        position: fixed;
        width: 100%;
        height: 3px;
        z-index: 1;

        .progress-bar-fill-wrapper {
            width: inherit;
            border-end-end-radius: 6px;
            border-start-end-radius: 6px;
            transform-origin: left;

            [dir="rtl"] & {
                transform-origin: right;
            }
        }

        .progress-bar-end-indicator-wrapper {
            width: 0.5em;
            border-end-start-radius: 6px;
            border-start-start-radius: 6px;
        }
    }

    .actions-wrapper {
        z-index: 1;
        position: fixed;
        display: flex;
        gap: var(--padding-small);
        flex-direction: column;
        left: auto;
        right: var(--padding-small);
        bottom: var(--padding);

        [dir="rtl"] & {
            left: var(--padding-small);
            right: auto;
        }
    }

    .header-wrapper {
        height: var(--header-size);
        padding: var(--padding-small);

        .brand {
            width: var(--brand-size);
            height: var(--brand-size);
            border-radius: 50%;
            justify-content: center;
            align-items: center;
        }

        .actions {
            gap: var(--padding-small);
            align-items: center;
        }
    }
}