body {
    color: color-mix(in var(--color-mix-type), var(--primary-color) 25%, var(--surface-color));
    background-color: var(--base-color);
}

body::selection {
    color: var(--surface-color);
}

.gradient-color {
    background: linear-gradient(33deg,
            var(--primary-color),
            var(--secondary-color) 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.primary-color {
    color: var(--primary-color);
}

.secondary-color {
    color: var(--secondary-color);
}

.button {
    -webkit-tap-highlight-color: transparent;

    &::after {
        background-image: radial-gradient(circle, #000 10%, transparent 10.01%);
        opacity: 0;
    }

    &:active::after {
        opacity: .5;
    }
}