:root {
    --color-mix-type: srgb;
    --base-color: #000000;
    --surface-color: #ffffff;
    --primary-color: #641faf;
    --secondary-color: #bf337c;

    --font-size-headline-mobile: 52px;
    --font-size-title-mobile: 36px;
    --font-size-body-large-mobile: 20px;
    --font-size-body-mobile: 16px;
    --font-size-body-small-mobile: 12px;

    --font-size-body-small-laptop: 1rem;
    --font-size-body-laptop: 1.3rem;
    --font-size-body-large-laptop: 1.5rem;
    --font-size-title-laptop: 3rem;
    --font-size-headline-laptop: 5rem;

    --brand-size: 48px;
    --header-size: 48px;

    --icon-normal-size: 24px;
    --icon-large-size: 48px;
    --icon-extra-large-size: 80px;

    --icon-button-size: 48px;
    --icon-button-padding: 3px;
    --icon-button-border-radius: 16px;

    --float-button-size: 54px;
    --float-button-padding: 3px;
    --float-button-border-radius: 16px;

    --text-button-size: 48px;
    --text-button-padding: 4px;
    --text-button-border-radius: 16px;

    --border-radius-small: 8px;
    --border-radius: 24px;
    --border-radius-large: 45px;

    --padding-small: 8px;
    --padding: 16px;
    --padding-large: 24px;
}