.container {
    position: relative;
}

.open.items {
    display: block;
}

.currentItem {
    height: 46px;
    border-radius: var(--border-radius-small);
    padding: var(--padding-small);
    gap: var(--padding-small);
}

.items {
    display: none;
    position: absolute;
    top: 100%;
    margin-top: var(--padding-small);
    width: 100%;
    border-radius: var(--border-radius-small);
    z-index: 1;
}

.item {
    padding: var(--padding);
    width: 100%;
    border-radius: var(--border-radius-small);
}