.surface {
    color: var(--base-color);
    background-color: color-mix(in var(--color-mix-type), var(--primary-color) 20%, var(--surface-color));
}

.surface:hover {
    background-color: color-mix(in var(--color-mix-type), var(--primary-color) 40%, var(--surface-color));
}