.container {
    width: 100%;
    height: var(--text-button-size);
    border-radius: var(--text-button-border-radius);
    padding: var(--text-button-padding) calc(var(--text-button-padding) * 3);
    text-decoration: none;
}