.show-on-scroll {
    view-timeline-name: --show-on-scroll;
    view-timeline-axis: block;
    animation-timeline: --show-on-scroll;
    animation-name: showOnScrollAnimation;
    animation-range: entry 5% cover 13%;
    animation-fill-mode: both;
}

@keyframes showOnScrollAnimation {
    from {
        opacity: 0;
        scale: 25%;
    }

    to {
        opacity: 1;
        scale: 100%;
    }
}

.wrapper {
    .header {
        .brand {
            transition: transform ease 500ms;

            &:hover {
                transform: rotate(-180deg);
            }
        }
    }

    .navigation {
        .navigation-button:hover>.navigation-button-icon {
            & {
                transition:
                    transform ease-in 100ms,
                    outline ease-in 100ms;
                transform: scale(0.95);
            }
        }
    }
}

.button:active {
    transition: transform ease-in 200ms;
    transform: scale(0.9);
}

.fancybox__backdrop::after {
    transform: scale(11);
}