section {
    view-timeline-axis: block;
    animation-timeline: view();
    animation-name: showOnScrollAnimation;
    animation-range: entry 5% cover 13%;
    animation-fill-mode: both;
}

@keyframes showOnScrollAnimation {
    from {
        opacity: 0;
        scale: 25%;
    }

    to {
        opacity: 1;
        scale: 100%;
    }
}

.wrapper {
    timeline-scope: --navigation;

    .navigation {
        .navigation-button:hover .navigation-button-icon {
            transition: outline ease-in 150ms;
        }

        .navigation-button {
            .navigation-button-icon {
                animation: activate-navigation linear;
                animation-timeline: --navigation;
                animation-range: calc((var(--navigation-index) - 1) * 25%) calc(var(--navigation-index) * 25% + 1px);
            }
        }
    }

    .content {
        scroll-behavior: smooth;
        scroll-timeline: --navigation y;
        scroll-snap-type: y mandatory;

        .header {
            .brand {
                transition: transform ease 500ms;

                &:hover {
                    transform: rotate(-180deg);
                }
            }
        }
    }
}

.button:hover {
    transition: outline ease-in 100ms;
}

.button:active {
    transform: scale(0.9);
}