:root {
  --base-color: #151515;
  --surface-color: #f5f5f5;
  --primary-color: #890A9B;
  --secondary-color: #173CC2;
  --primary-highlight-color: color-mix(in srgb, var(--primary-color) 33%, var(--surface-color));
  --secondary-highlight-color: color-mix(in srgb, var(--secondary-color) 33%, var(--surface-color));
  --font-color: color-mix(in srgb, var(--primary-color) 17%, var(--surface-color));

  --font-size-headline: 48px;
  --font-size-title: 32px;
  --font-size-body-large: 24px;
  --font-size-body: 16px;
  --font-size-body-small: 12px;

  --brand-size: 46px;
  --header-size: 64px;
  --navigation-size: 74px;

  --icon-button-size: 38px;
  --icon-button-padding: 6px;
  --icon-button-border-radius: 50%;

  --float-button-size: 52px;
  --float-button-padding: 3px;
  --float-button-border-radius: 16px;

  --text-button-size: 32px;
  --text-button-padding: 3px;
  --text-button-border-radius: 16px;

  --border-radius-small: 8px;
  --border-radius: 16px;
  --border-radius-large: 32px;

  --padding-small: 8px;
  --padding: 16px;
  --padding-large: 24px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}

.line-height-large {
  line-height: var(--padding-large);
}

.overflow-text {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.display-inline {
  display: inline;
}

.m-y-large {
  margin-top: var(--padding-large);
  margin-bottom: var(--padding-large);
}

.p-y-large {
  padding-top: var(--padding-large);
  padding-bottom: var(--padding-large);
}

.p-y {
  padding-top: var(--padding);
  padding-bottom: var(--padding);
}

.p-y-small {
  padding-top: var(--padding-small);
  padding-bottom: var(--padding-small);
}

.p-x-large {
  padding-right: var(--padding-large);
  padding-left: var(--padding-large);
}

.p-x {
  padding-right: var(--padding);
  padding-left: var(--padding);
}

.p-x-small {
  padding-right: var(--padding-small);
  padding-left: var(--padding-small);
}

.gap {
  gap: var(--padding);
}

.gap-small {
  gap: var(--padding-small);
}

.flex-end {
  display: flex;
  justify-content: flex-end;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: var(--padding-small);
}

.col {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.main-axis-center {
  display: flex;
  justify-content: center;
}

.main-axis-between {
  display: flex;
  justify-content: space-between;
}

.cross-axis-center {
  display: flex;
  align-items: center;
}

.container {
  position: relative;
  padding: var(--padding) calc(1.5rem * 0.5);
}

.vh-100-header {
  height: calc(100svh - var(--header-size) - var(--navigation-size));

  /* For large screens */
  @media (min-width: 700px) {
    height: calc(100vh - var(--header-size));
  }

  .img-under-content {
    object-fit: contain;
    object-position: right;
    border-radius: var(--border-radius-large);
    z-index: -1;
  }
}

.button {
  appearance: none;
  cursor: pointer;
  user-select: none;
  text-align: center;
  text-decoration: none;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-button {
  width: var(--icon-button-size);
  height: var(--icon-button-size);
  padding: var(--icon-button-padding);
  border-radius: var(--icon-button-border-radius);
}

.float-button {
  width: var(--float-button-size);
  height: var(--float-button-size);
  padding: var(--float-button-padding);
  border-radius: var(--float-button-border-radius);
}

.text-button {
  width: 100%;
  height: var(--text-button-size);
  border-radius: var(--text-button-border-radius);
}

.chip {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px var(--padding-small);
  border-radius: var(--border-radius-small);
  max-width: max-content;
}

.f-carousel {
  --f-carousel-slide-width: 100%;
  --f-carousel-spacing: var(--padding) !important;
}

.mini-carousel-slide {
  padding: var(--padding-small) !important;
  --f-carousel-slide-width: calc(100% / 4);
}

.project-carousel-slide {

  /* For medium screens */
  @media (min-width: 520px) {
    --f-carousel-slide-width: calc(50% / 2);
  }

  /* For large screens */
  @media (min-width: 700px) {
    --f-carousel-slide-width: calc(100% / 3);
  }
}

.card {
  border-radius: var(--border-radius);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: var(--padding-small);

  .bar-top-absolute {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
  }

  .card-image {
    position: relative;
    height: 200px;

    img {
      border-radius: var(--border-radius);
      object-fit: cover;
    }
  }

  .card-content {
    padding: 0 var(--padding);
  }

  .card-footer {
    padding: var(--padding-small) var(--padding);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: var(--padding);
  }
}

.fancybox__container {
  --right-col-width: 0px;
}

.fancybox__container.has-sidebar {
  --right-col-width: clamp(150px, 20vw, 300px);
}

.fancybox__cols {
  display: grid;
  grid-template-columns: minmax(0, 1fr) var(--right-col-width);

  height: 100%;
  min-width: 100%;
}

.fancybox__col {
  display: flex;
  flex-direction: column;
  min-height: 0;

  position: relative;
  overflow: hidden;
}

.fancybox__data {
  padding: var(--padding-small);
  overflow: auto;
}

.fancybox__backdrop::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  filter: blur(3px);
  background-image: var(--bg-image);
  background-blend-mode: overlay;
  opacity: 0.6;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.fancybox__toolbar {
  padding: var(--padding);
}

.f-button {
  --f-button-border-radius: 50%;
  --f-button-svg-width: 22px;
  --f-button-svg-height: 22px;
  --f-button-svg-stroke-width: 3;

  --f-button-width: var(--icon-button-size);
  --f-button-height: var(--icon-button-size);
}

.fancybox__thumbs.is-classic {
  --f-thumb-width: var(--icon-button-size);
  --f-thumb-height: var(--icon-button-size);
  --f-thumb-gap: var(--padding-small);
  --f-thumb-border-radius: 6px;
}

.fancybox__toolbar {
  padding: var(--padding-small) !important;
}

.fancybox-protected {
  background-image: url("https://fancyapps.com/img/watermark.png");
  background-size: contain;
}

.made-with {
  display: flex;
  justify-content: flex-end;
  overflow-x: auto;
  width: 250px;
  gap: var(--padding-small);
  padding-bottom: var(--padding-small);
}