.wrapper {
    height: 100svh;
    display: flex;
    flex-direction: column-reverse;

    timeline-scope: --navigation;

    /* For large screens */
    @media (min-width: 700px) {
        height: 100vh;
        flex-direction: row;
    }

    .float-actions {
        z-index: 1;
        position: fixed;
        display: flex;
        gap: var(--padding-small);
        flex-direction: column;
        right: var(--padding);
        bottom: calc(var(--navigation-size) + var(--padding));

        /* For large screens */
        @media (min-width: 700px) {
            right: calc(var(--padding) * 2);
            bottom: var(--padding-small);
        }
    }

    .navigation {
        margin: var(--padding-small);
        padding: var(--padding-small);
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        height: var(--navigation-size);
        width: auto;
        border-radius: var(--border-radius);

        /* For large screens */
        @media (min-width: 700px) {
            flex-direction: column;
            height: auto;
            width: calc(var(--navigation-size) * 2);
        }

        .navigation-button {
            flex-direction: column;
            height: var(--navigation-button-size);
            width: var(--navigation-button-size);

            /* For large screens */
            @media (min-width: 700px) {
                height: calc(var(--navigation-button-size) *2);
            }

            .navigation-button-icon {
                border-radius: 50%;
                animation: activate-navigation linear;
                animation-timeline: --navigation;
                animation-range: calc((var(--navigation-index) - 1) * 25%) calc(var(--navigation-index) * 25% + 1px);
            }
        }
    }

    .content {
        overflow-x: hidden;
        scroll-behavior: smooth;

        scroll-timeline: --navigation y;
        scroll-snap-type: y mandatory;

        .header {
            display: flex;
            justify-content: space-between;
            padding: var(--padding-small) var(--padding);
            height: var(--header-size);

            .brand {
                width: var(--brand-size);
                height: var(--brand-size);
                border-radius: 50%;
                justify-content: center;
                align-items: center;
                display: flex;
            }

            .actions {
                display: flex;
                gap: var(--padding-small);
                align-items: center;

                &>select {
                    width: 100px;
                }
            }
        }

        .footer {
            padding-bottom: var(--navigation-size);
        }
    }
}