.wrapper {
    display: grid;
    position: relative;
    width: 100vw;
    height: 100vh;
    min-height: 100vh;
    min-width: 100vw;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: var(--header-size) 1fr;
    grid-template-areas:
        "header header"
        "content content"
    ;
    timeline-scope: --navigation;

    /* For large screens */
    @media (min-width: 700px) {
        grid-template-columns: calc(var(--navigation-size) + var(--padding)) 1fr;
        grid-template-areas:
            "header header"
            "navigation content"
        ;
    }

    .header {
        grid-area: header;
        display: flex;
        justify-content: space-between;
        padding: var(--padding-small) var(--padding);
        height: var(--header-size);

        .brand {
            width: var(--brand-size);
            height: var(--brand-size);
            border-radius: 50%;
            justify-content: center;
            align-items: center;
            display: flex;
        }

        .actions {
            display: flex;
            gap: var(--padding-small);
            align-items: center;

            &>select {
                width: 100px;
            }
        }
    }

    .float-actions {
        z-index: 1;
        position: fixed;
        display: flex;
        gap: var(--padding-small);
        flex-direction: column;
        right: var(--padding);
        bottom: calc(var(--navigation-size) + var(--padding));

        /* For large screens */
        @media (min-width: 700px) {
            right: calc(var(--padding) * 2);
            bottom: calc(var(--padding-small) * 2);
        }
    }

    .navigation {
        grid-area: navigation;
        position: fixed;
        bottom: 0;
        z-index: 3;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        height: var(--navigation-size);
        width: 95%;
        margin: var(--padding-small);
        border-radius: var(--border-radius);

        @media (min-width: 700px) {
            position: relative;
            bottom: auto;
            z-index: auto;
            flex-direction: column;
            width: auto;
            height: auto;
        }

        .navigation-button {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: var(--padding-small);
            height: var(--navigation-button-size);
            width: calc(var(--navigation-button-size) + (var(--navigation-button-size) / 2));

            .navigation-button-icon {
                animation: activate-navigation linear;
                animation-timeline: --navigation;
                animation-range: calc((var(--navigation-index) - 1) * 25%) calc(var(--navigation-index) * 25% + 1px);

                border-radius: 50%;
            }
        }
    }

    .content {
        grid-area: content;
        overflow-y: scroll;
        scroll-behavior: smooth;
        position: relative;
        padding-bottom: var(--navigation-size);
        scroll-timeline: --navigation y;
        scroll-snap-type: y mandatory;
        overscroll-behavior: contain;

        /* For large screens */
        @media (min-width: 700px) {
            padding-bottom: 0;
        }

        .footer {
            display: flex;
            min-height: var(--footer-size);
            gap: var(--padding);
            align-items: center;
            justify-content: space-around;
            padding: var(--padding);
            margin-bottom: calc(var(--navigation-size) + var(--padding));

            /* For large screens */
            @media (min-width: 700px) {
                margin-bottom: calc(var(--padding) + 80px);
            }
        }
    }
}