.wrapper {
    height: 100svh;
    display: flex;
    flex-direction: column-reverse;

    /* For large screens */
    @media (min-width: 700px) {
        height: 100vh;
        flex-direction: row;
    }

    .float-actions {
        z-index: 1;
        position: fixed;
        display: flex;
        gap: var(--padding-small);
        flex-direction: column;
        right: var(--padding);
        bottom: calc(var(--navigation-size) + var(--padding));

        /* For large screens */
        @media (min-width: 700px) {
            bottom: var(--padding-small);
        }
    }

    .navigation {
        flex-direction: row;
        height: var(--navigation-size);
        width: auto;
        border-radius: var(--border-radius);
        margin: var(--padding-small);

        /* For large screens */
        @media (min-width: 700px) {
            flex-direction: column;
            height: auto;
            width: calc(var(--navigation-size) * 2);
        }

        .navigation-button {
            flex-direction: column;
            padding: 6px;
            flex: 1;

            .navigation-button-icon {
                border-radius: 50%;
            }
        }
    }

    .content {
        overflow-x: hidden;
        scrollbar-width: thin;

        .header {
            height: var(--header-size);
            padding: var(--padding-small);

            .brand {
                width: var(--brand-size);
                height: var(--brand-size);
                border-radius: 50%;
                justify-content: center;
                align-items: center;
            }

            .actions {
                gap: var(--padding-small);
                align-items: center;

                &>select {
                    width: 100px;
                }
            }
        }

        .footer {
            padding-bottom: calc(var(--navigation-size) + var(--padding-small));
        }
    }
}