body {
    color: var(--font-color);
    background-color: color-mix(in srgb, var(--primary-color) 2%, var(--base-color));
    accent-color: var(--primary-color);
}

.primary-color {
    color: var(--primary-color);
}

.primary-highlight-color {
    color: var(--primary-highlight-color);
}

.secondary-highlight-color {
    color: var(--secondary-highlight-color);
}

.wrapper {
    .header {
        .brand {
            background-color: var(--base-color);
        }
    }

    .navigation {
        background-color: color-mix(in srgb, var(--primary-color) 30%, var(--base-color));

        .navigation-button:hover>.navigation-button-icon {
            & {
                outline: 2px solid var(--primary-highlight-color);
            }
        }

    }
}


@keyframes activate-navigation {

    0%,
    100% {
        background-color: color-mix(in srgb, var(--primary-color) 80%, var(--base-color));
    }
}

.vh-100-header {
    .img-under-content {
        background-color: color-mix(in srgb, var(--secondary-color) 10%, var(--base-color));
    }
}

.container-title {
    background-color: color-mix(in srgb, var(--secondary-color) 13%, var(--base-color));
}

.button {
    background-color: none;
    -webkit-tap-highlight-color: transparent;
    color: var(--font-color);
}

.icon-button {
    background-color: color-mix(in srgb, var(--primary-color) 80%, var(--base-color));

    &:hover {
        outline: 2px solid var(--primary-highlight-color);
    }
}

.float-button {
    background-color: color-mix(in srgb, var(--secondary-color) 90%, var(--base-color));

    &:hover {
        outline: 2px solid var(--secondary-highlight-color);
    }
}

.text-button {
    background-color: var(--primary-color);

    &:hover {
        outline: 2px solid var(--primary-highlight-color);
    }
}

.chip {
    background-color: color-mix(in srgb, var(--primary-color) 40%, var(--base-color));
}

.f-carousel {
    --f-carousel-dot-color: var(--font-color);
}

.f-button,
.f-carousel__dots li button {
    -webkit-tap-highlight-color: transparent;
    --f-button-color: var(--font-color);
    --f-button-hover-color: var(--font-color);
    --f-button-active-color: var(--font-color);
    --f-button-bg: color-mix(in srgb, var(--primary-color) 80%, var(--base-color));
    --f-button-hover-bg: color-mix(in srgb, var(--primary-color) 50%, var(--base-color));
    --f-button-active-bg: color-mix(in srgb, var(--primary-color) 30%, var(--base-color));
}

.card {
    background-color: color-mix(in srgb, var(--primary-color) 10%, var(--base-color));
}

.fancybox__backdrop::after {
    background-image: var(--bg-image);
    filter: blur(0.3px);
    background-color: color-mix(in srgb, var(--primary-color) 10%, var(--base-color));
    background-blend-mode: overlay;
    opacity: 0.4;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.fancybox__thumbs.is-classic {
    --f-thumb-outline: 0;
}