body {
    color: var(--font-color);
    background-color: var(--base-color);
    accent-color: var(--primary-color);
}

.primary-color {
    color: var(--primary-color);
}

.primary-highlight-color {
    color: var(--primary-highlight-color);
}

.secondary-highlight-color {
    color: var(--secondary-highlight-color);
}

.wrapper {
    .navigation {
        background-color: color-mix(in srgb, var(--primary-color) 10%, var(--base-color));

        .navigation-button:hover>.navigation-button-icon {
            & {
                outline: 2px solid var(--primary-highlight-color);
            }
        }

    }

    .content {
        scrollbar-color: var(--primary-color) var(--base-color);

        .header {
            .brand {
                background-color: var(--base-color);
            }
        }
    }
}


@keyframes activate-navigation {

    0%,
    100% {
        background-color: var(--primary-highlight-color);
    }
}

.vh-100-header {
    .img-under-content {
        background-color: color-mix(in srgb, var(--secondary-color) 8%, var(--base-color));
    }
}

.button {
    -webkit-tap-highlight-color: transparent;
    color: var(--font-color);
}

.icon-button {
    background-color: color-mix(in srgb, var(--secondary-color) 10%, var(--base-color));

    &:hover {
        outline: 2px solid var(--secondary-highlight-color);
    }
}

.float-button {
    background-color: color-mix(in srgb, var(--secondary-color) 90%, var(--base-color));

    &:hover {
        outline: 2px solid var(--secondary-highlight-color);
    }
}

.text-button {
    background-color: var(--primary-color);

    &:hover {
        outline: 2px solid var(--primary-highlight-color);
    }
}

.chip {
    background-color: color-mix(in srgb, var(--primary-color) 60%, var(--base-color));
}

.f-carousel {
    --f-carousel-dot-color: var(--font-color);
}

.f-button,
.f-carousel__dots li button {
    -webkit-tap-highlight-color: transparent;
    --f-button-color: var(--font-color);
    --f-button-hover-color: var(--font-color);
    --f-button-active-color: var(--font-color);

    --f-button-bg: color-mix(in srgb, var(--secondary-color) 10%, var(--base-color));
    --f-button-hover-bg: color-mix(in srgb, var(--secondary-color) 5%, var(--base-color));
    --f-button-active-bg: color-mix(in srgb, var(--secondary-color) 3%, var(--base-color));

    &:hover {
        outline: 2px solid var(--secondary-highlight-color);
    }
}

.card {
    background-color: color-mix(in srgb, var(--primary-color) 8%, var(--base-color));
}

.fancybox__backdrop::after {
    background-color: color-mix(in srgb, var(--primary-color) 5%, var(--base-color));
}