.layout {
    display: grid;
    height: 100%;
    width: 100%;
}

.topBar {
    position: fixed;
    z-index: 900;
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    grid-row: 1;
}

.brand {
    width: 56px;
    height: 56px;
    padding: 3px;
    border-radius: 50%;
    box-shadow: 0 0 2px var(--primary-color), 0 0 5px var(--primary-color);
}

.brand> :first-child {
    transform-origin: center;
    transition: transform 1s;
}

.brand:hover> :first-child {
    transform: rotate(-180deg);
}

.brand:not(:hover)> :first-child {
    transform: rotate(0deg);
}

.main {
    grid-row: 2;
}

.floatAction {
    position: fixed;
    z-index: 900;
    right: var(--padding);
    transition: bottom 0.5s ease;
}

.navigationBar {
    background-color: var(--background-color);
    position: fixed;
    display: flex;
    z-index: 900;
    gap: var(--padding);
    overflow: hidden;
}

.navigationFontSize {
    font-size: var(--navigation-font-size);
}

.navigationButton {
    flex-direction: column;
    gap: 3px;
}

.navigationIcon {
    border-radius: 50%;
}

.active {
    color: var(--primary-color-highlight);
}

.active>.navigationIcon,
.navigationButton:hover>.navigationIcon {
    transform: scale(0.95);
    border: 2px solid var(--primary-color-highlight);
    box-shadow: 0 0 5px var(--primary-color), 0 0 10px var(--primary-color);
    background: linear-gradient(to left, var(--secondary-color), var(--primary-color));
}

/**/
/* For large screens */
/**/
@media (min-width: 768px) {
    .layout {
        grid-template-rows: var(--top-bar-size) auto;
        grid-template-columns: var(--navigation-bar-size) auto;
    }

    .main {
        grid-column: 2;
    }

    .navigationBar {
        left: 0;
        bottom: 0;
        grid-row: 2;
        grid-column: 1;
        flex-direction: column;
        width: var(--navigation-bar-size);
        height: calc(100% - var(--top-bar-size));
        transition: left 0.5s ease;
    }

    .floatAction {
        bottom: var(--padding);
    }

    .navigationButton {
        padding: var(--padding-small) 0;
    }
}

/**/
/* Styles for mobile devices and tablets in portrait mode */
/**/
@media (max-width: 767px) {
    .layout {
        grid-template-rows: var(--top-bar-size) auto var(--navigation-bar-size);
        grid-template-columns: auto;
    }

    .main {
        grid-column: 1;
    }

    .navigationBar {
        grid-row: 3;
        grid-column: 1;
        bottom: 0;
        flex-direction: row;
        width: 100%;
        height: var(--navigation-bar-size);
        transition: bottom 0.5s ease;
    }

    .floatAction {
        bottom: var(--navigation-bar-size);
    }
}