.container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: var(--padding-small);
    border-radius: var(--border-radius);
    gap: var(--padding-small);
    max-width: max-content;
}