.bodySmall {
    font-size: var(--font-size-body-small-mobile);
    font-weight: 400;

    /* For large screens */
    @media (min-width: 700px) {
        font-size: var(--font-size-body-small-laptop);
    }
}

.body {
    font-size: var(--font-size-body-mobile);
    font-weight: 600;

    /* For large screens */
    @media (min-width: 700px) {
        font-size: var(--font-size-body-laptop);
    }
}

.bodyLarge {
    font-size: var(--font-size-body-large-mobile);
    font-weight: 600;

    /* For large screens */
    @media (min-width: 700px) {
        font-size: var(--font-size-body-large-laptop);
    }
}

.title {
    font-size: var(--font-size-title-mobile);
    font-weight: 900;

    /* For large screens */
    @media (min-width: 700px) {
        font-size: var(--font-size-title-laptop);
    }
}

.headline {
    font-size: var(--font-size-headline-mobile);
    font-weight: 900;

    /* For large screens */
    @media (min-width: 700px) {
        font-size: var(--font-size-headline-laptop);
    }
}

.textCenter {
    vertical-align: middle;
}