.iconButton {
    width: var(--icon-button-size);
    height: var(--icon-button-size);
    padding: var(--icon-button-padding);
}

.iconButton:hover {
    border: 2px solid var(--primary-color-highlight);
    box-shadow: 0 0 5px var(--primary-color), 0 0 10px var(--primary-color);
    background: linear-gradient(to left, var(--secondary-color), var(--primary-color));
}
